:root{
    --mainColor:#202C39;
    --secondaryColor:#283845;

    --borderColor:#B8B08D;

    --mainText:#F29559;
    --secondaryText:#F2D492;

    --themeDotBorder:#24292e;

    --previewBg:#25333f;
    --previewShadow: #202C39;
    
    --buttonColor: #F29559;
  }